{% extends "admin/change_list.html" %}

{% block result_list %}{{ block.super }}

<style>
.summary {
  margin: 20px;
  font-family: Cordoba, "New Courier", Sans, Verdana, Arial;
  text-align: right;
  display: table;
  width: 20%;
}

.summary>p {
  display: table-row;
}

.summary>p>* {
  display: table-cell;
  padding: 5px;
}
</style>

<div class="summary">
  <p><strong>Incomes:</strong> <span class="value incomes">{{ total_incomes }}</span></p>
  <p><strong>Outcomes:</strong> <span class="value outcomes">{{ total_outcomes }}</span></p>
  <p><strong>Balance:</strong> <span class="value balance">{{ total_balance }}</span></p>
</div>
{% endblock %}
