{% extends "admin/change_list.html" %}

{% block result_list %}
<style>
.calendar {
  margin: 10px;
}

.summary>p {
  font-family: Cordoba, "New Courier", Sans, Verdana, Arial;
  text-align: right;
  display: table-row;
}

.summary>p>* {
  display: table-cell;
  padding: 5px;
}
</style>

<div class="calendar">
  <strong>Calendar:</strong>
  <select id="calendar_month">
    {% for idx, label in months %}
    <option value="{% if idx %}{{ idx }}{% endif %}" {% if idx == request.GET.date__month %}selected="selected"{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
  <select id="calendar_year">
    <option value="">Any year</option>
    {% for year in years %}
    <option value="{{ year }}" {% if year == request.GET.date__year %}selected="selected"{% endif %}>{{ year }}</option>
    {% endfor %}
  </select>

  <a href="?date__month={{current_month}}&date__year={{current_year}}">Current month</a>
</div>

<script>
(function($){
  $(document).ready(function(){
    $('#calendar_month, #calendar_year').change(function(){
       var month = $('#calendar_month').val();
       var year = $('#calendar_year').val();
       var params = '?';
       if (month && month !== 'None') params += 'date__month=' + month + '&';
       if (year && tear !== 'None') params += 'date__year=' + year + '&';
       if (params === '?') params = '';
       window.location = window.location.pathname + params;
    });
  });
})(django.jQuery);
</script>

{{ block.super }}

<div class="summary">
  <h2>Summary</h2>
  <p><strong>Incomes:</strong> <span class="value incomes">{{ total_incomes }}</span></p>
  <p><strong>Outcomes:</strong> <span class="value outcomes">{{ total_outcomes }}</span></p>
  <p><strong>Balance:</strong> <span class="value balance">{{ total_balance }}</span></p>
</div>

{% if wishes %}
<div class="summary">
  <h2>Wish list</h2>
  {% for wish in wishes %}
  <p><strong>{{ wish }}</strong>
     <span class="value">{{ wish.cost }}</span>
     <span>{% if wish.done %}done{% endif %}</span></p>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
